@import 'media';



body{
    font-family: 'PT Sans Narrow', sans-serif;
    overflow-x: hidden;
}

.preloader{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 34;
}

.hero-sec{
    width: 100%;
    height: auto;
    background-color: #121619;
    position: relative;
    nav{
        width: 100%;
        height: 18vh; 
    .logo{
        width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    ul{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        li{
            list-style-type: none;
            a{
                text-decoration: none;
                transition:all .3s ease;
                color: #fff;
                text-transform: uppercase;
                cursor: pointer;
                &:hover{
                    color: #fd9d3e;
                }
            }
        }
        button{
            background: #91B842;
            border: 1px solid #91B842;
            color: #ffffff;
            font-weight: 700;
            cursor: pointer;
            padding: 9px 21px;
            border-radius: 50px;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
    }

  }
   
  .swiper {
    width: 100%;
    height: 110vh;
    .swiper-button-prev,.swiper-button-next{
        color: #fd9d3e;
    }
    .swiper-slide{
        overflow: hidden;
            .one{       
                width: 100%;
                height: 100%;
                // animation-duration: 2s;
                // animation-name: left;
                // position: relative;
                // animation-iteration-count: infinite;
                .pizza{
                    width: 100%;
                    height: 100%;
                }
                .img4{
                  position: absolute;
                  top: 60px;
                  left: 120px;
                  z-index: 345;
                }
                .img1{
                    position: absolute;
                    top: 20px;
                    left:390px ;
                    z-index: 345;
                  }
                  .img3{
                    position: absolute;
                   bottom: 70px;
                    left: 90px;
                    z-index: 345;
                  }
                  .img2{
                    position: absolute;
                    bottom: 90px;
                    left: 360px;
                    z-index: 345;
                  }
            }



                .two{
                    width: 100%;
                height: 100%;
                //     animation-name: right;
                //     animation-duration: 2s;
                //     animation-iteration-count: infinite;
                    h1{
                        color: white;
                        font-weight: bold;
                        font-size: 10rem;
                        text-transform:uppercase ;
                    }
                    p{
                        font-weight: 400;
                        font-size: 2rem;
                        letter-spacing: 4px;
                        color: #fd9d3e;
                        text-transform:uppercase ;

                    }
                }
                .slider-txt{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items:center;
                    // animation: top 3s;
                    // animation-iteration-count: infinite;
                    h1{
                        color: white;
                        font-weight: bold;
                        font-size: 10rem;
                        text-transform:uppercase ;
                    }
                    p{

                        font-weight: 400;
                        font-size: 2rem;
                        letter-spacing: 4px;
                        color: #fd9d3e;
                        text-transform:uppercase ;

                    }
                }
                .bottom-img{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items:flex-start;
                    // animation: bottom 2s;
                    // animation-iteration-count: infinite;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
        
    }
  }
 &::before{
         content: '';
        background-image: url('../img/hero-bg.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: .20;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

// .leftt{
//     animation-duration: 2s;
//     animation-name: left;
// }

// @keyframes left {
//     0%{
//         transform: translateX(-100%);
//     }
//     100%{
//         transform: translateX(0);
//     }
// }


// @keyframes right {
//     0%{
//         transform: translateX(100%);
//     }
//     100%{
//         transform: translateX(0);
//     }
// }

// @keyframes top {
//     0%{
//         transform: translateY(-100%);
//     }
//     100%{
//         transform: translateY(0);
//     }
// }

// @keyframes bottom {
//     0%{
//         transform: translateY(100%);
//     }
//     100%{
//         transform: translateY(0);
//     }
// }


.top-bg{
    height: 14vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 34;
    img{
        width: 100%;
        height: 100%; 
    }
}


 .order-bottom{
        width: 100%;
        height: 20vh;
        img{
            width: 100%;
            height: 100%;
            background-color: #fff;
        }
    }
.second-sec{
   padding: 20px 0;
    background-color: #fd9d3e;
    width: 100%;
    height: auto;
    .box{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        h4{
            font-weight: 700;
        }
        img{
            width: 30%;
            height: 30%;
        }
        p{
            text-align: center;
            font-size: .9rem;
        }
    }
}

.bottom-bg{
    height: 17vh;
    width: 100%;
    img{
        width: 100%;
        height: 100%;
    }
}

.third-sec{
width: 100%;
height: auto;
padding: 40px 0;
  h4{
        color: #fd9d3e;
        font-weight: 700;
    }
    h1{
        font-weight: bold;
        font-size: 4rem;
    }
.img-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    
    
    &:hover{
        img{
            transform: scale(1.1);
        }
    }
    img{
        border-radius: 50%;
        width: 100%;
        height: 100%;
        transition: all .3s ease;
    }
}
button{
    background: #fd9d3e;
    border: 1px solid #fd9d3e;
    color: #ffffff;
    font-weight: 700;
    padding: 17px 41px;
    border-radius: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
}

.menu-bottom-bg{
    width: 100%;
    height: auto;
    img{
        width: 100%;
        height: 100%;
        background-color: #121619;
    }

}

.menu-top-bg{
    width: 100%;
    height: 100%;
    img{
        width: 100%;
        height: 100%;
        background-color: #121619;
    }
}

.menu-bottom-bg{
    width: 100%;
    height: 100%;

    img{
        width: 100%;
        height: 100%;
        background-color: #121619;
    }
}


.fourth-sec{
    padding: 30px 0;
    width: 100%;
    height: auto;
    background-color: #121619;
    p{
        font-weight: 700;
        font-size: 1.4rem;
        margin: 0;
        color: #fd9d3e;
    }
    h1{
        font-weight: 700;
        margin: 0;
        font-size: 3.2rem;
        color: #fff;
    }
    .btns{
        width: auto;
        height: 100%;
        display: flex;
        border-radius: 30px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #2B2C2D;
        button{
            color: #fff;
            transition: all 400ms ease;
            font-size: 14px;
            padding: 14px 28px;
            letter-spacing: 1px;
            cursor: pointer;
            outline: none;
            border: none;
            background-color: #2B2C2D;
            border-radius: 30px;
           
        }
        .active{
            background-color: #fd9d3e;
        }
    }
    .menu-item{
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding: 20px 5px;
     align-items: center;
     &:hover img{
       transform: translateY(-10px);
     }
     h3{
         color: #fff;
         font-weight: 400;
         font-size: 1.3rem;
         margin: 12px 0;
     }
     h5{
         text-align: center;
         color: rgb(110, 105, 105);
         font-weight: 200;
         font-size: .9rem;
     }
     span{
         color: #fd9d3e;
     }
     img{
         width: 65%;
         height: 70%;
         transition: all .3s ease;
         
     }
    }
    .app{
        display: none;
    }
}












.fifth-sec{
    width: 100%;
    height: 100%;
    padding: 60px 0;
    .left-text{
        width: 70%;
        height: 100%;
        h4{
            font-weight: 700;
            color: #fd9d3e;
            font-size: 2rem;
        }
        h1{
            font-weight: bold;
            font-size: 3.3rem;
        }
        .phone{
            width: 100%;
            height: auto;
            border: 5px solid #fd9d3e;
            display: flex;
            align-items: center;
            transition: all .3s ease;
            font-weight: bold;
            color: #fff;
            background-color: #000;
            font-size: 2rem;
            img{
                background-color: #000;
            }
            &:hover{
                background-color: #fff;
                color: #000;
            }
        }
    }
    .right-form{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        input{
            width: 100%;
            height: auto;
            
            padding: 10px 15px;
        }
        button{
            background: #000;
            border: 1px solid #000;
            color: #ffffff;
            font-weight: 700;
            padding: 14px 36px;
            border-radius: 50px;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

    }
}


.sixth-sec{
    width: 100%;
    height: auto;
    padding-top: 50px ;
    background-color: #121619;
    position: relative;
    // overflow: hidden;
    .item{
padding-bottom: 20px;
.img{
position: relative;
overflow: hidden;
     &::before{
            position: absolute;
            top: 0;
            left: -75%;
            z-index: 2;
            display: block;
            content: '';
            width: 50%;
            height: 100%;
            background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
            background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
            -webkit-transform: skewX(-25deg);
            transform: skewX(-65deg);
        }
}
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        h1{
            font-weight: bold;
            font-size: 1.2rem;
            margin:20px 0 0 0;
        }
        p{
            color: #999999;
            margin: 0;
        }
        &:hover{
            .img::before{
                animation: shine .75s;
            }
        }
    }
@keyframes shine {
    100% {left: 125%;}
}
    .top-txt{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1{
          color: #fff;
          font-weight: 700;
          margin: 0;
          font-size: 3rem;
        }
        p{
            font-weight: bold;
            font-size: 2rem;
            color: #fd9d3e;
        }
    }
    .owl-carousel{
         position: relative;
    }
    .owl-nav{
        .owl-prev i{
            font-size: 3rem;
            color: #fd9d3e;
            position: absolute;
            left: -50px;
            top: 40%;
        }
        .owl-next i{
            font-size: 3rem;
            position: absolute;
            color:#fd9d3e ;
            right: -50px;
            top: 40%;
        }
    }

    &::before{
        content: "";
        background-image: url('../img/chef-bg-main.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: .20;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}


.seventh-sec{
    width: 100%;
    height: auto;
    padding: 30px 0;
    .seventh-text{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
         color: #fd9d3e;
         font-weight: 700;
         margin: 0;
         font-size: 2.3rem;
         
        }
        h1{
            font-size: 3rem;
            font-weight: 700;
        }
    }
    .news-box{
      width: 100%;
      height: 78%;
      padding:0 7px;
     .img-circle{
         position: relative;
         transition: all .3s ease;
        img{
            width: 100%;
            height: 100%;
        }
        .circle{
            border-radius: 50%;
            background-color: #fd9d3e;
            position: absolute;
            right: 20px;
            bottom: -20px;
            padding: 23px 13px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #fff;
            font-weight: 700;
            align-items: center;
        }
     }
      p{
          font-weight: 700;
          font-size:1.2rem;
          letter-spacing: 1px;
          margin-top: 2rem;
      }
       a{
           color: #fd9d3e;
           transition: all .3s;
           text-decoration: solid;
           cursor: pointer;
           &:hover{
               opacity: .8;
               color: #fd9d3e;
           }
       }
       &:hover .img-circle{
           transform: translateY(-13px);
           box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
       }
    }
}



.eighth-sec{
    background-color: #121619;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    h5{
        color: #fd9d3e;
        font-weight: 600;
        font-size: 2rem;
    }
    h6{
        font-size: 5rem;
        color: #fff;
        font-weight: bold;
    }
    .home-slider{
     width: 100%;
    height: 100%;
    }
    .item{
        height: 100%;
        width: 100%;
        .all{
            width: 100%;
            display: flex;
            flex-direction: row;
            .img{
                width: 40%;
                height: 100%;
                border-radius: 50%;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    border: 5px solid #fd9d3e;
                }
            }
            .text{
                margin-left: 1rem;
                background-color: #fff;
                padding: 20px 30px;
                p{
                 color: #565a5e;
                 font-size: 1.2rem;
                 font-style: italic;
                }
                h4{
                    color: #fd9d3e;
                    font-weight: 700;
                }
            }
        }
    }
}













 

.ninth-sec{
    width: 100%;
    padding-bottom: 50px;
    height: auto;
    
   .left-text{
       width: 80%;
       height: 100%;
    h4{
      color: #fd9d3e;
      font-weight: bold;
      font-size: 2rem;
    }
    h1{
     font-weight: bold;
     font-size: 3rem;
    }
    p{
      color: #000;
    }
    button{
     background: #fd9d3e;
    border: 1px solid #fd9d3e;
    color: #ffffff;
    font-weight: 700;
    padding: 17px 41px;
    border-radius: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
    }
   }
    .right-img{
        width: 100%;
        height: 100%;
        img{
            width: 60%;
            height: 60%;
        }
    }
}


footer{
    height: auto;
    width: 100%;
    background-color: #121619;
    padding: 80px 0 0 0; 
    
    .first-ft{
        width: 80%;
        height: 100%;
        p{
       color: #fff;
       font-size: .8rem;
       font-weight: 600;
       line-height: 1.6;
        }
    img{
        margin-bottom: 1rem;
    }
    }
    .second-text{
        width: 100%;
        height: 100%;
        color: #fff;
        .all{
            padding-right: 60px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        h1{
        font-weight: 700;
        font-size: 1.8rem;
        letter-spacing:2px;
        margin-bottom: 1.7rem;
        }
        p{
            color: #fff;
            font-size: .8rem;
            font-weight: 600;
            line-height: 1.6;
        }
    }
    .links{
        width: 100%;
        height: 100%;
        h1{
         font-weight: 700;
        font-size: 1.8rem;
        color: #fff;
        letter-spacing:2px;
        margin-bottom: 1.7rem;
        }
        p{
            line-height: 1.1;
            color: #fff;
            font-size: .8rem;
            font-weight: 600;
            
        }
    }
    .txt{
        width: 100%;
        height: 100%;
        align-items: center;
        border-top: 1px solid ;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .icons{
            width: auto;
            height: 100%;
            i{
                color: #fff;
                background: #242628;
                width: 40px;
                cursor: pointer;
                height: 40px;
                line-height: 40px;
                text-align: center;
                transition: all .3s ease;
                &:hover{
                    color: #fd9d3e;
                }
            }
    }
        }
        .left-txt{
            width: auto;
            padding: 40px 0;
            height: 100%;
            p{
                color: white;
                margin: 0;
                a{
                    color: #fd9d3e;
                    text-decoration: none;
                }
            }
        }
    }


    